
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
body {
    /*font-family: AvenirNext;*/
    font-family: Sans-Serif;
}

.container {
    margin: 10px;
    padding: 0;
}

#tripBanner {
  width: 1024px;
  height: 48px;
  background-color: #ffffff;
  display: inline-block;
}

.inline {
    display: inline-block;
}


.addNewButton {
  width: 145px;
  height: 36px;
  border: 0;
  border-radius: 100px;
  background-color: #f33cd1;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.tripsTable {
  width: 310px;
  height: 430px;
  display: inline-block;
  margin: 5px;
}

.showTrips {
  width: 310px;
  height: 410px;
  background-color: #f9f9f9;
  padding: 10px;
  overflow: auto;
  margin: 0;
}

#viewShared {
    text-align: right;
}

.tripItem {
  text-align: center;
  width: 290px;
  height: 112px;
  background-color: #ffffff;
  border: solid 1px #f2f2f2;
  margin: 0;
}

.buttonText {
  width: 65px;
  height: 19px;
  /*font-family: AvenirNext;*/
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.showTripsButton {
  width: 160px;
  height: 33px;
  /*font-family: AvenirNext;*/
  font-size: 20px;
  font-weight: 500;
  color: #4a4a4a;
  border: 1px solid #f2f2f2;
  text-align: center;
  /*margin: 0;*/
}

.navbar {
    background-color: #1e0253;
}

#navbar-brand {
  width: 67px;
  height: 27px;
  /*font-family: AvenirNext;*/
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 40px;
}
.navbarPinkText {
    width: 40%;
}

.navbar-link {
  width: 74px;
  height: 22px;
  /*font-family: AvenirNext;*/
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #f659d9;
}

.navbar-collapse {
      color: #f659d9;
}

#trip-map {
  height: 500px;
  width: 750px;
  display: inline-block;
  margin: 10px;
}

#entry-map {
  height: 600px;
  width: 1200px;
  display: inline-block;
  margin: 10px;
}

#content {
  width: 320px;
  height: 400px;
  background-color: #f9f9f9;
}

#popupBanner {
  width: 300px;
  height: 48px;
  background-color: #ffffff;
  border: solid 1px #f2f2f2;
  margin: 10px
}

#popupHeader {
  width: 300px;
  height: 33px;
  /*font-family: AvenirNext;*/
  font-size: 24px;
  font-weight: 500;
  color: #4a4a4a;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
  margin: 10px;

}

#bodyContent {
  width: 300px;
  height: 133px;
  background-color: #ffffff;
  border: solid 1px #f2f2f2;
  margin: 10px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.pac-container {
  z-index: 2000;
}
/* Modal Content/Box */
.form-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#autocomplete {
    width: 80%;
}