<!doctype html>
<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css"/>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="titleText">
      <a id="navbar-brand">SOJOURNAL</a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        {% if 'logged_in_user' in session %}
          <a class="navbar-link" href="/">My Trips <span class="sr-only">(current)</span></a>
          <a class="navbar-link" href="/friends" id="friendsLink">Friends</a>
        </li>
      </ul>
        <a class="navbar-link" href="/logout">Log Out</a>
      {% else %}
        </li>
        </ul>
        <a class="navbar-link" id="login" href="#login">Login</a>/ 
        <a class="navbar-link" id="createAccount" href="#register">Register</a>
      {% endif %}
    </div>
  </nav>


<div class="container">

  <!-- Show modals -->
    <div id="login-form-popup" class="modal">
        <div class="form-content">
          <span class="close" id="closeLogin">&times;</span>
            <h2>Login</h2>
            <form class="form-group" id="login_form" action="/check-login" method="POST">Email: 
              <input class="form-control" type="email" id="login-email" name="email" placeholder="Enter email" required><br>Password: 
              <input class="form-control" type="password" id="login-password" name="password" required><br>
              <button class="classic-button" type="submit" id="login-submit">Submit</button>
            </form>
          </div>
      </div>

    <div id="create-form-popup" class="modal">
        <div class="form-content">
          <span class="close" id="closeCreateAccount">&times;</span>
          <h2>Create Account</h2>
          <form class="form-group" id="new_user_form" action="/create-account" method="POST">Email: 
            <input class="form-control" type="email" id="register-email" name="email" placeholder="Enter email" required><br>Password: 
            <input class="form-control" type="password" id="register-password" name="password" required><br>Username:
            <input class="form-control" type="text" id="nickname" name="name"><br>
            <button class="classic-button" type="submit" id="register-submit">Submit</button>
          </form>
        </div>
      </div>


  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
  {% endwith %}
  <div class="flash alert-warning"></div>

  <!-- This is where the main content goes. -->
  {% block content %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/static/myscripts.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH3NV21lKUUJpatY7B06dgXTLQR0oikV4&libraries=places" async defer></script> -->
</body>
</html>

