{% extends 'base.html' %}
{% block content %}

{% if 'logged_in_user' in session %}
    <h2>User Profile</h2>
    <h3>Trips</h3>
    {% if not trips %}
    <p>You dont have any trips yet!</p>
    {% else %}
      <ul> 
        {% for trip in trips %}
          <li>
          <p><a href="/trip/{{ trip.trip_id }}">{{ trip.name }}</a></p>
          <p>{{ trip.location }}</p>
          <p>{{ trip.date }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <p><a href="/add-trip">Add new trip</a></p>
{% else %}
    <h2>This is the homepage</h2>          
{% endif %}


{% endblock %}