{% extends 'base.html' %}
{% block content %}

<h2>{{ trip.name }}</h2>
<h3>{{ trip.location }}</h3>
<h3>{{ trip.date }}</h3>
<h3>Entries</h3>
    {% if not entries %}
    <p>You dont have any entries yet!</p>
    {% else %}
      <ul> 
        {% for entry in entries %}
          <li>
          <p><a href="/trip/{{ trip.trip_id }}/{{ entry.entry_id }}">{{ entry.name }}</p>
          <p>{{ entry.category.name }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <p><a href="/add-entry/{{ trip.trip_id }}">Add new Entry</a></p>

{% endblock %}