{% extends 'base.html' %}
{% block content %}

<h2>{{ trip.name }}</h2>
<h3 id="trip-location">{{ trip.location }}</h3>
<h3>{{ trip.date }}</h3>
<h3>Entries</h3>
    {% if not entries %}
    <p>You dont have any entries yet!</p>
    {% else %}
    <form method="GET" action="/trip/{{ trip.trip_id }}">
      <select name="filter">
          <option value="" {% if not filter_category %} selected {% endif %}>View All</option>
          {% for category in categories %}
          <option 
            value="{{ category.category_id }}" 
            {% if filter_category|int == category.category_id %} selected {% endif %}
          >{{ category.name }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="filter">
    </form>
      <ul> 
        {% for entry in entries %}
          <li class="entry">
          <p class="entry-link"><a href="/trip/{{ trip.trip_id }}/{{ entry.entry_id }}" class="entry-name">{{ entry.name }}</a></p>
          <p class="entry-category">{{ entry.category.name }}</p>
          <div class="entry-address" hidden>{{ entry.address }}</div>
          <div class="entry-photo" hidden>{{ entry.photo_location }}</div>
          <div class="entry-notes" hidden>{{ entry.notes }}</div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <!-- <p><a href="/add-entry/{{ trip.trip_id }}">Add new Entry</a></p> -->
    <button class="addNewButton" id="createEntry">Add new Entry</button>
    <button class="addNewButton" id="shareTrip">Share Trip</button>

    <div id="entry-map"></div>
    <div id="entry-form-popup" class="modal">
        <!-- Modal content -->
        <div class="form-content">
          <span class="close">&times;</span>
          <h2>New Entry</h2>
            <form id="entry_form" action="/add-entry/{{ trip.trip_id }}" method="POST" enctype="multipart/form-data"> 
              <input id="autocomplete" placeholder="Where did you go?" type="text" name="name">
                <br>Address: 
              <input type="text" id="address" name="address" required><br>
              <textarea name="notes" placeholder="Add any notes..."></textarea><br>
              <select name="category">
                 <option selected disabled>Select a category</option>
                 {% for category in categories %}
                 <option value="{{ category.category_id }}">{{ category.name }}</option>
                 {% endfor %}
              </select><br>
              <input type="file" id="imageinput" name="pic"><br>
              <input type="submit" id="submit_button">
            </form>
          </div>
      </div>

      <div id="share-form-popup" class="modal">
        <!-- Modal content -->
        <div class="form-content">
          <span class="close">&times;</span>
          <h2>Share Trip</h2>
            <form id="share_form" action="/share-trip/{{ trip.trip_id }}" method="POST">Who would you like to share this trip with?<br>
              <input id="shareEmail" placeholder="Email Address" type="text" name="shareEmail">
              <input type="submit" id="share_submit_button">
            </form>
          </div>
      </div>
    <script>

      var tripLocation = $( '#trip-location' ).html();

      function initMap() {
        geocoder = new google.maps.Geocoder();
        var mapOptions = 
        {
          zoom: 11
        }
        map = new google.maps.Map(document.getElementById('entry-map'), mapOptions);
        codeCenterAddress(tripLocation);
        addMarkers();
      }
      var placeSearch, autocomplete;

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['establishment']});
        autocomplete.addListener('place_changed', fillInAddress);

      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        var address = place.formatted_address;
        $('#address').val(address);
      }

      function codeCenterAddress(address) {
        // Set the center of the map
        geocoder.geocode( {address:address}, function(results, status) 
        {
          if (status == google.maps.GeocoderStatus.OK) 
          {
            map.setCenter(results[0].geometry.location);//center the map over the result
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
         }
        });
      }

      function codeMarkerAddress(address, name, contentString) {
        // Change the marker address in to latlong and place parker at the latlong
        geocoder.geocode( {address:address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            // map.setCenter(results[0].geometry.location);//center the map over the result
            // place a marker at the location
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                title: name
            });
            var infowindow = new google.maps.InfoWindow({
            content: contentString
            });

            marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
         }
        });
      }


      function addMarkers() {
        // Add markers for each entry to the map
        $( ".entry" ).each(function() {
        var address = $(this).children(".entry-address").html();
        var name = $(this).children(".entry-link").children(".entry-name").html();
        var category = $(this).children(".entry-category").html();
        var photo = $(this).children(".entry-photo").html();
        var notes = $(this).children(".entry-notes").html();
        var link = $(this).children(".entry-link").children(".entry-name").attr("href");
        var contentString = '<div id="content">'+
            '<h1><a href=\"'+link+'\">'+name+'</a></h1>'+
            '<div id="bodyContent">'+
            '<p>'+address+'</p>'+
            '<p>'+category+'</p>'+
            '<p>'+notes+'</p>'+
            '<img src=\"/'+photo+'\" height="100"</img>'+
            '</div>'+
            '</div>';
        codeMarkerAddress(address, name, contentString);
      });
      }


      // Get the modal
      var modal = document.getElementById('entry-form-popup');

      // Get the button that opens the modal
      var btn = document.getElementById("createEntry");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[2];

      // When the user clicks on the button, open the modal 
      btn.onclick = function() {
          modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }

      // Get the modal
      var shareModal = document.getElementById('share-form-popup');

      // Get the button that opens the modal
      var shareBtn = document.getElementById("shareTrip");

      // Get the <span> element that closes the modal
      var shareSpan = document.getElementsByClassName("close")[3];

      // When the user clicks on the button, open the modal 
      shareBtn.onclick = function() {
          shareModal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      shareSpan.onclick = function() {
          shareModal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == shareModal) {
              shareModal.style.display = "none";
          }
      }

      function initialize() {
         initMap();
         initAutocomplete();
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH3NV21lKUUJpatY7B06dgXTLQR0oikV4&libraries=places&callback=initialize" async defer></script>




{% endblock %}