{% extends 'base.html' %}
{% block content %}

<div class="landing-page">
<div id="trip-banner">
  <h3 class="inline" id="trip-banner-name">{{ trip.name }},</h3>
  <h4 class="inline" id="trip-location">{{ trip.location }}</h4>
  {% if trip.user_id == session['logged_in_user'] %}
    <button class="classic-button inline" id="createEntry">Add new Entry</button>
    <button class="classic-button inline" id="shareTrip">Share Trip</button>
  {% endif %}
  {% if not entries %}
    <p class="inline">You dont have any entries yet!</p>
  {% else %}
    <form class="inline" id="filter-entries" method="GET" action="/trip/{{ trip.trip_id }}">
      <select class="custom-select" name="filter">
      <option value="" {% if not filter_category %} selected {% endif %}>View All</option>
      {% for category in categories %}
        <option 
          value="{{ category.category_id }}" 
          {% if filter_category|int == category.category_id %} selected {% endif %}
        >{{ category.name }}</option>
        {% endfor %}
      </select>
      <!-- <input type="submit" value="filter"> -->
      <button class="classic-button" type="submit" id="filter-submit">Filter</button>
    </form>
      <ul hidden> 
      {% for entry in entries %}
        <li class="entry">
        <p class="entry-link"><a href="/entry/{{ entry.entry_id }}" class="entry-name">{{ entry.name }}</a></p>
        <p class="entry-category">{{ entry.category.name }}</p>
        <div class="entry-address" hidden>{{ entry.address }}</div>
        <div class="entry-photo" hidden>{{ entry.photo_location }}</div>
        <div class="entry-notes" hidden>{{ entry.notes }}</div>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
  </div>
    <div id="entry-map"></div>
    <div id="entry-form-popup" class="modal">
        <!-- Modal content -->
        <div class="form-content">
          <span class="close" id="closeNewEntry">&times;</span>
          <h2>New Entry</h2>
            <form class="form-group" id="entry_form" action="/add-entry/{{ trip.trip_id }}" method="POST" enctype="multipart/form-data"> 
              <input class="form-control" id="entry-autocomplete" placeholder="Where did you go?" type="text" name="name">
                <br>Address: 
              <input class="form-control" type="text" id="address" name="address" required><br>
              <textarea class="form-control" name="notes" placeholder="Add any notes..."></textarea><br>
              <select class="custom-select" name="category">
                 <option selected disabled>Select a category</option>
                 {% for category in categories %}
                 <option value="{{ category.category_id }}">{{ category.name }}</option>
                 {% endfor %}
              </select><br>
              <label class="custom-file">
                <input type="file" id="file" class="custom-file-input" name="pic">
                <span class="custom-file-control"></span>
              </label>
              <!-- <input type="file" id="imageinput" name="pic"><br> -->
              <button class="classic-button" type="submit" id="add-entry-submit">Submit</button>
            </form>
          </div>
      </div>

      <div id="share-form-popup" class="modal">
        <!-- Modal content -->
        <div class="form-content">
          <span class="close" id="closeShareTrip">&times;</span>
          <h2>Share Trip</h2>
            <form class="form-group" id="share_form" method="POST">Who would you like to share this trip with?<br>
              <input class="form-control" id="shareEmail" placeholder="Email Address" type="text" name="shareEmail">
              <!-- <input type="submit" id="share_submit_button"> -->
              <button class="classic-button" type="submit" id="share-trip-submit">Submit</button>
            </form>
            <form id="invite_form" action="/invite-user" method="POST" hidden>This user does not exist would you like to invite them to join SOJOURNAL?<br>
              <input id="inviteEmail" placeholder="Email Address" type="text" name="inviteEmail">
              <input type="submit" id="invite_submit_button">
            </form>
          </div>
      </div>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH3NV21lKUUJpatY7B06dgXTLQR0oikV4&libraries=places&callback=initialize1" async defer></script>
<script>
function initialize1() {
  initTripMap();
  initEntryAutocomplete();
}
</script>


{% endblock %}